@font-face {
	font-family: "DM Sans";
	src: url("./assets/fonts/DMSans-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: "DM Sans";
	src: url("./assets/fonts/DMSans-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
  }
  
  @font-face {
	font-family: "DM Sans";
	src: url("./assets/fonts/DMSans-Medium.ttf") format("truetype");
	font-weight: medium;
	font-style: normal;
  }
  
  @font-face {
	font-family: "DM Sans";
	src: url("./assets/fonts/DMSans-MediumItalic.ttf") format("truetype");
	font-weight: medium;
	font-style: italic;
  }
  
  @font-face {
	font-family: "DM Sans";
	src: url("./assets/fonts/DMSans-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
  }
  
  @font-face {
	font-family: "DM Sans";
	src: url("./assets/fonts/DMSans-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
  }
  
  * {
	font-family: DM Sans;
  }

body {
	margin: 0;
}

main {
	min-height: calc(100vh - 131px);
	overflow: auto;
}

header {
	display: block;
	border-bottom: 1px solid #e5e5e5;
	box-sizing: border-box;
}

footer {
	display: flex;
	height: 50px;
	border-top: 1px solid #e5e5e5;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
}

.headerContainer {
	display: flex;
	width: 90%;
	height: 80px;
	align-items: center;
	justify-content: space-between;
	margin: auto;
}

.headerNav {
	display: flex;
	gap: 1rem;
}

.navLink {
	text-decoration: none;
}

.headerNav.mobile {
	display: none;
}

.heroSectionContainer {
	display: flex;
	height: calc(100vh - 131px);
	align-items: center;
	justify-content: center;
	width: 80%;
	margin: auto;
}

.heroImageContainer {
	width: 50%;
}

.contactPageContainer {
	display: flex;
	width: 100%;
	min-height: calc(100vh - 131px);
}

.contactPageSectionWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	min-height: 100%;
}

.contactPageSectionWrapper.right {
	background: #303030;
}

.contactPageSectionWrapper.left > div {
	width: 70%;
}

.contactFormContainer {
	width: 80%;
}

#contactForm > input {
	border: none;
	background: #f9f9f9;
	padding: 1rem 0 1rem .75rem;
}

#contactForm > button {
	border: none;
	background: #869dc7;
	color: #f9f9f9;
	padding: .85rem 3rem;
}

#contactForm {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 2fr 1fr;
	gap: 1rem;
}

.messageInputWrapper {
	grid-row: 3 / span 2;
	grid-column: 1 / span 2;
}

#messageInput {
	width: 100%;
	height: 100%;
	border: none;
	background: #f9f9f9;
	padding: 1rem 0 0 .75rem;
	box-sizing: border-box;
}

#contactFormButton {
	width: fit-content;
	margin: auto;
	grid-column: 1 / span 2;
}

.legalPageContainer {
	width: 90%;
	margin: 3rem auto;
}

.legalPageContainer > h1 {
	text-align: center;
}

@media screen and (max-width: 768px) {
	.mobileNavWrapper {
		width: 100vw;
        height: auto;
        max-height: 100vh;
        background: #b4b4b4;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
	}

	.mobileNavExit {
		display: flex;
    	justify-content: flex-end;
    	margin: 1rem 1rem 3rem 0;
	}

	.headerNav {
		display: none;
		visibility: hidden;
	}

	.navLink {
		font-size: 2rem;
		padding: 0;
		margin-bottom: 1.5rem;
    	display: block;
    	color: #f9f9f9;
	}
	
	.headerNav.mobile {
		display: flex;
		visibility: visible;
	}

	.heroTextContainer {
		position: absolute;
		z-index: 1;
		width: 90%;
	}

	.heroImageContainer {
		width: 100%;
	}

	.contactPageContainer {
		flex-direction: column;
	}

	.contactPageSectionWrapper {
		width: 100%;
	}

	.contactPageSectionWrapper.left > div {
		width: 90%;
		margin-bottom: 2rem;
	}

	#contactForm {
		margin: 3rem 0;
		grid-template-columns: unset;
		grid-template-rows: repeat(4, 1fr) 4fr;
	}

	.messageInputWrapper {
		grid-column: unset;
		grid-row: unset;
	}

	#contactFormButton {
		grid-column: unset;
	}

	.legalPageContainer {
		margin: 1rem auto;
	}
	
	.legalPageContainer > h1 {
		text-align: left;
	}
}